<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Vision" version="2.2.5" targetFramework="net461" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net461" />
  <package id="DirectShowLib.Standard" version="2.1.0" targetFramework="net461" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="4.1.0" targetFramework="net461" />
  <package id="Fluent.Ribbon" version="8.0.3" targetFramework="net461" />
  <package id="FontAwesome5" version="2.1.4" targetFramework="net461" />
  <package id="MediaInfo.DotNetWrapper" version="1.0.7" targetFramework="net461" />
  <package id="MediaInfo.Native" version="21.9.1" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="OpenCvSharp4" version="4.5.3.20210817" targetFramework="net461" />
  <package id="OpenCvSharp4.runtime.win" version="4.5.3.20210817" targetFramework="net461" />
  <package id="OpenCvSharp4.Windows" version="4.5.3.20210817" targetFramework="net461" />
  <package id="OpenCvSharp4.WpfExtensions" version="4.5.3.20210817" targetFramework="net461" />
  <package id="OxyPlot.Core" version="2.1.0" targetFramework="net461" />
  <package id="OxyPlot.Wpf" version="2.1.0" targetFramework="net461" />
  <package id="OxyPlot.Wpf.Shared" version="2.1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Vlc.DotNet.Core" version="3.1.0" targetFramework="net461" />
  <package id="Vlc.DotNet.Core.Interops" version="3.1.0" targetFramework="net461" />
  <package id="Vlc.DotNet.Forms" version="3.1.0" targetFramework="net461" />
  <package id="WPFFolderBrowser" version="1.0.2" targetFramework="net461" />
  <package id="WPFLocalizeExtension" version="3.9.0" targetFramework="net461" />
  <package id="WpfMath" version="0.11.0" targetFramework="net461" />
  <package id="XAMLMarkupExtensions" version="2.1.1" targetFramework="net461" />
</packages>