<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Bundle
    Name="VianaNET 5"
    Version="5.0.0"
    Manufacturer="Dr. Adrian Voßkühler"
    UpgradeCode="{4830D7E5-685D-4637-B1BD-9A347BB911CF}"
    AboutUrl="http://www.viananet.de/"
    Copyright="Freie Universität Berlin"
    HelpTelephone="adrian@vosskuehler.name"
    HelpUrl="http://www.viananet.de/"
    IconSourceFile="$(var.SolutionDir)VianaNET\Images\VianaNET.ico">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="Resources\License.rtf"
        ShowVersion="yes"
        LogoFile="$(var.SolutionDir)VianaNET\Images\VianaLogo64.png" />
    </BootstrapperApplicationRef>

    <Chain>
      <PackageGroupRef Id="NetFx451Web"/>
      <ExePackage Id="KLiteMega" Name="K-Lite Codec Pack 1055" Cache="no" Compressed="yes" PerMachine="yes" Permanent="yes" Vital="yes"
                  SourceFile="Resources\K-Lite_Codec_Pack_1055_Mega.exe" InstallCommand="/verysilent /norestart /LoadInf='.\klcp_mega_unattended.ini'">
        <Payload Id="KLiteConfigFile" Name="KLite Configuration File" SourceFile="Resources\klcp_mega_unattended.ini" Compressed="yes"/>
      </ExePackage>
      <RollbackBoundary />

      <MsiPackage Id="VianaPackage" SourceFile="$(var.OutDir)\VianaNETSetup.msi" DisplayInternalUI="no" Compressed="yes" Vital="yes" />
    </Chain>
  </Bundle>
</Wix>