<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)Config.wxi?>
  <Product Id="*"
           Codepage="1252"
           Language="1031"
           Name="$(var.ProductName)"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufactor)"
           UpgradeCode="$(var.UpgradeGuid)">
    <Package Comments="Installs VianaNET - open gaze and mouse analyzer"
             InstallerVersion="405"
             InstallPrivileges="elevated"
             InstallScope="perMachine"
             Compressed="yes"
             Description="$(var.SoftwareDescription)"
             Languages="1031"
             Manufacturer="$(var.Manufactor)"/>

    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This application requires .NET Framework 4.5.1. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id="1" Cabinet="viana.cab" EmbedCab="yes" />

    <Feature Id="DefaultFeature" ConfigurableDirectory="TARGETDIR" Level="1">
      <FeatureRef Id="VianaMainApplicationFeature" />
      <FeatureRef Id='LibsFeature'/>
      <FeatureRef Id='LanguageFeature'/>
    </Feature>

  </Product>
</Wix>