<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)Config.wxi?>
  <Product Id="*"
           Codepage="1252"
           Language="1031"
           Name="$(var.ProductName)"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufactor)"
           UpgradeCode="$(var.UpgradeGuid)">
    <Package Comments="Installs VianaNET - Software for motion analysis in science education"
             InstallerVersion="405"
             InstallPrivileges="elevated"
             InstallScope="perMachine"
             Compressed="yes"
             Description="$(var.SoftwareDescription)"
             Languages="1031"
             Manufacturer="$(var.Manufactor)"/>

    <PropertyRef Id="WIXNETFX4RELEASEINSTALLED" />
    <Property Id="WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" Secure="yes" />
    <SetProperty Id="WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" Value="1" After="AppSearch">
      WIXNETFX4RELEASEINSTALLED >= "#$(var.NetFx48MinRelease)"
    </SetProperty>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED"/>
    <Condition Message="Diese Anwendung erfordert die Installation von .NET Framework 4.8. Bitte installieren Sie das .NET Framework zuerst und starten Sie dann diesen Installer erneut.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED]]>
    </Condition>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Icon Id="icon.ico" SourceFile="$(var.SolutionDir)VianaNET\Images\VianaNET.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPCONTACT" Value="Dr. Adrian Voßkühler" />
    <Property Id="ARPHELPLINK" Value="https://viananet.de/" />
    <Property Id="ARPURLINFOABOUT" Value="Software for motion analysis in science education" />
    <Property Id="ARPURLUPDATEINFO" Value="http://viananet.de/" />

    <Media Id="1" Cabinet="viana.cab" EmbedCab="yes" />

    <Feature Id="DefaultFeature" ConfigurableDirectory="TARGETDIR" Level="1">
      <FeatureRef Id="VianaMainApplicationFeature" />
      <FeatureRef Id='LibsFeature'/>
      <FeatureRef Id='LanguageFeature'/>
    </Feature>

    <WixVariable Id="WixUIDialogBmp" Value="$(var.SolutionDir)Setup\Setup\InstallerBkg.png" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.SolutionDir)Setup\Setup\InstallerBanner.png" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)Setup\Setup\License.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <UIRef Id="WixUI_InstallDir" />
  </Product>
</Wix>