<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VianaNET.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <VianaNET.Properties.Settings>
      <setting name="RecentFileList" serializeAs="String">
        <value />
      </setting>
      <setting name="NumberOfRecentFiles" serializeAs="String">
        <value>8</value>
      </setting>
    </VianaNET.Properties.Settings>
  </userSettings>
</configuration>